services:
  phpfpm:
    extra_hosts:
      - host.docker.internal:host-gateway
    # user: root
    build: ./docker/configs/phpfpm
    restart: always
    container_name: "php_${APP_NAME}"
    image: wm-phpfpm:7.4-fpm
    ports:
      - ${DOCKER_PHP_PORT}:9000
      - ${DOCKER_SERVE_PORT}:8000
    volumes:
      - ".:/var/www/html/${DOCKER_PROJECT_DIR_NAME}"
    working_dir: "/var/www/html/${DOCKER_PROJECT_DIR_NAME}"
    depends_on:
      - db
      - redis
      - elasticsearch
    networks:
      - geohub
  db:
    image: postgis/postgis:14-3.4
    container_name: "postgres_${APP_NAME}"
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER: ${DB_USERNAME:?err}
      POSTGRES_DB: ${DB_DATABASE:?err}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - "./docker/volumes/postgresql/data:/var/lib/postgresql/data"
    ports:
      - ${DOCKER_PSQL_PORT}:5432
    networks:
      - geohub
  redis:
    image: redis:latest
    container_name: "redis_${APP_NAME}"
    restart: always
    ports:
      - 6379:6379
    networks:
      - geohub

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.15.1
    container_name: "${APP_NAME}-elasticsearch"
    environment:
      - node.name=elasticsearch
      - cluster.name=elasticsearch-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - geohub
  minio:
    image: "minio/minio:latest"
    container_name: "minio_${APP_NAME}"
    ports:
      - "${FORWARD_MINIO_PORT:-9000}:9000"
      - "${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900"
    environment:
      MINIO_ROOT_USER: geohub
      # at least 8 chars
      MINIO_ROOT_PASSWORD: geohubminio
    volumes:
      - "./docker/volumes/minio/data:/data/minio"
    networks:
      - geohub
    command: 'minio server /data/minio --console-address ":8900"'
    healthcheck:
      test:
        - CMD
        - mc
        - ready
        - local
      retries: 3
      timeout: 5s
  mailpit:
    container_name: "mailpit_${APP_NAME}"
    image: "axllent/mailpit:latest"
    ports:
      - "${FORWARD_MAILPIT_PORT:-1025}:1025"
      - "${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025"
    networks:
      - geohub

networks:
  geohub:
    driver: bridge
