.w-sidebar {
    position: fixed !important;
}

.content {
    margin-left: 12% !important;
}

.h-header {
    position: fixed;
    width: 100%;
}

.v-popover {
    margin-left: 60%;
}

div[data-testid='content'] {
    margin-top: 1rem;
}