@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.map {
  top: 0px;
  height: 1140px;
  width: 48%;
  position: relative;
  margin: auto;
  display: block;
  z-index: 9;
}

.print-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: block;
}

.print-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  background-color: #be4d25;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 34px;
  cursor: pointer;
}

.print-button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.print-button:enabled:hover {
  box-shadow: 3px 3px 9px #c3c1c1;
}

@media print {
  .print-layer {
    display: none;
  }
  .map-header {
    width: 55%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    font-weight: 600;
  }

  .names {
    width: 70%;
    height: 100%;
    padding-right: 5px;
    padding-top: 0px;
    padding-left: 15px;
    flex: 1;
  }

  .app-name {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: -25px;
    word-wrap: break-word;
  }

  .track-name {
    padding-top: 0;
    font-size: 14px;
    word-wrap: break-word;
  }

  .qr-code-container {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    /* padding: 25px; */
    text-align: center;
    align-self: center;
    margin-right: 20px;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
  }

  .qr-code {
    position: absolute;
    top: 100%;
    left: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .header-space,
  .footer-space {
    height: 90px;
    padding-bottom: 15px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .pdf-header {
    position: fixed;
    top: 0mm;
    width: 95%;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }

  .pdf-footer {
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 90%;
    text-align: right;
    font-size: 0.7rem;
    margin: 20px 20px 0 20px;
    padding: 0.5rem;
    background-color: transparent;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .pdf-footer table {
    width: 100%;
  }

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  .map {
    width: 100%;
    height: 100vh;
    page-break-after: always;
  }

  .track-details {
    font-size: 18px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .track-details span {
    margin: 5px 10px;
  }

  .track-description {
    line-height: 1.2rem;
    margin: 15px 25px 0;
    text-align: justify; /* allinea il testo su entrambi i lati, creando margini uniformi */
    text-justify: inter-word; /* utilizza uno spazio uniforme tra le parole */
    padding: 10px 30px;
    padding-top: 5px;
    background-color: #efefef;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    page-break-before: auto;
    page-break-inside: auto;
  }

  .track-feature-image {
    width: 750px;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .track-feature-image img {
    width: 75%;
    height: 350px;
  }

  .pois-page {
    page-break-after: always;
    break-inside: auto;
    page-break-before: always;
    padding: 0 25px;
  }

  .pois-header {
    font-size: 2rem;
  }

  .poi {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #efefef;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; /* Per visualizzare colore di background anche in print mode*/
    page-break-after: auto;
    margin-bottom: 20px;
    break-inside: avoid;
  }

  .poi-details {
    width: 88%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    break-inside: avoid;
  }

  .poi-description {
    text-align: justify; /* allinea il testo su entrambi i lati, creando margini uniformi */
    text-justify: inter-word; /* utilizza uno spazio uniforme tra le parole */
    line-height: 1.1rem;
  }

  .poi-horizontal-rule {
    width: 80%;
    height: 1px;
    border: none;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ff5c00;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .poi-name {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: bold;
  }

  .poi-feature-image {
    width: 100%;
    height: 250px;
    display: block;
    align-self: first baseline;
  }

  .poi-feature-image .poi-image {
    width: 100%;
    height: 100%;
  }

  .poi-feature-image .app-logo {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 30px;
  }
  body {
    margin: 0;
  }

  @page {
    margin: 0mm;
    break-inside: auto;
  }
  .track-feature-image-page:last-child {
    page-break-after: auto;
  }
  .pois-page:last-child {
    page-break-after: auto;
  }
}

@media only screen and (max-width: 767px) {
  .pdf-header,
  .pdf-footer {
    font-size: 15px;
    background-color: #333333;
    color: #ffffff;
    z-index: 999;
    height: 30px;
    padding: 0.5rem;
  }

  .map {
    height: 100vh;
    width: 100vw;
  }
}
