@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.map {
  top: 0px;
  height: 1140px;
  width: 850px;
  position: relative;
  margin: auto;
  display: block;
  z-index: 9;
}

.print-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

.print-button {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: #be4d25;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 3vw;
  cursor: pointer;
  padding: 10px 20px;
}

.loading {
  display: grid;
  grid-template-columns: 1fr 50px;
  column-gap: 10px;
  align-items: center;
  justify-items: center;
}

.print-button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.print-button:enabled:hover {
  box-shadow: 3px 3px 9px #c3c1c1;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .print-layer {
    display: none;
  }

  .map-header {
    width: 55%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    font-weight: 600;
  }

  .names {
    width: 70%;
    height: 100%;
    padding-right: 5px;
    padding-top: 0px;
    padding-left: 15px;
    flex: 1;
  }

  .app-name {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: -25px;
    word-wrap: break-word;
  }

  .track-name {
    padding-top: 0;
    font-size: 14px;
    word-wrap: break-word;
  }

  .qr-code-container {
    height: 80px;
    width: 80px;
    text-align: center;
    align-self: center;
    margin-right: 20px;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
  }

  .qr-code {
    position: absolute;
    top: 100%;
    left: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .header-space,
  .footer-space {
    height: 75px;
    padding-bottom: 15px;
  }

  .pdf-header {
    position: fixed;
    top: 0mm;
    width: 95%;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    word-wrap: break-word;
  }

  .pdf-footer {
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 90%;
    text-align: right;
    font-size: 0.7rem;
    margin: 20px 20px 0 20px;
    padding: 0.5rem;
    background-color: transparent;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .pdf-footer table {
    width: 100%;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  .map {
    width: 100%;
    height: 100vh;
    page-break-after: always;
  }

  .track-details {
    font-size: 18px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .track-details span {
    margin: 5px 10px;
  }

  .track-description {
    line-height: 1.2rem;
    margin: 15px 25px 0;
    text-align: justify;
    /* allinea il testo su entrambi i lati, creando margini uniformi */
    text-justify: inter-word;
    /* utilizza uno spazio uniforme tra le parole */
    padding: 10px 30px;
    padding-top: 5px;
    background-color: #efefef;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    page-break-before: auto;
    page-break-inside: auto;
  }

  .track-feature-image-container {
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .track-feature-image-container img {
    height: 100%;
  }

  .pois-page {
    page-break-after: always;
    page-break-inside: auto;
    page-break-before: always;
    padding: 0 25px;
  }

  .pois-header {
    font-size: 2rem;
  }

  .poi {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #efefef;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    /* Per visualizzare colore di background anche in print mode*/
    page-break-after: auto;
    margin-bottom: 20px;
    page-break-inside: avoid;
    min-height: 200px;
  }

  .poi-details {
    width: 88%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    page-break-inside: avoid;
  }

  .poi-description {
    text-align: justify;
    /* allinea il testo su entrambi i lati, creando margini uniformi */
    text-justify: inter-word;
    /* utilizza uno spazio uniforme tra le parole */
    line-height: 1.1rem;
  }

  .poi-horizontal-rule {
    width: 80%;
    height: 1px;
    border: none;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ff5c00;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .poi-name {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: bold;
  }

  .poi-feature-image {
    width: 100%;
    height: 250px;
    display: block;
    align-self: first baseline;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* .app-logo {
    width: 200px;
    height: 200px;
    display: block;
    right: 30px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */

  body {
    margin: 0;
  }

  @page {
    margin: 0mm;
    break-inside: auto;
  }

  .track-feature-image-page:last-child {
    page-break-after: auto;
  }

  .pois-page:last-child {
    page-break-after: auto;
  }
}

@media (max-width: 767px) {
  .print-button {
    font-size: 6vw;
  }
}

@-moz-document url-prefix() {
  @media print {
    .map {
      width: 100%;
      height: 110vh;
      page-break-after: always;
    }
  }
}

/**
 * ==============================================
 * Dot Typing - https://codepen.io/nzbin/pen/GGrXbp
 * ==============================================
 */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fbfbfb;
  color: #fbfbfb;
  box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb, 10014px 0 0 0 #fbfbfb;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }

  50% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px -10px 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px -10px 0 0 #fbfbfb;
  }

  100% {
    box-shadow: 9984px 0 0 0 #fbfbfb, 9999px 0 0 0 #fbfbfb,
      10014px 0 0 0 #fbfbfb;
  }
}