/**
 *  LATO
 */
@font-face {
    font-family: "Helvetica";
    src: url("Helvetica/Helvetica.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  LATO
 */
@font-face {
    font-family: "Lato";
    src: url("Lato/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  MERRIWEATHER
 */
@font-face {
    font-family: "Merriweather";
    src: url("Merriweather/Merriweather-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  MONTSERRAT
 */
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("Montserrat/Montserrat-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  NOTO SANS
 */
@font-face {
    font-family: "Noto Sans";
    src: url("Noto_Sans/NotoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  NOTO SERIF
 */
@font-face {
    font-family: "Noto Serif";
    src: url("Noto_Serif/NotoSerif-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  OPEN SANS
 */
@font-face {
    font-family: "Open Sans";
    src: url("Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
  *  ROBOTO
  */
@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  ROBOTO SLAB
 */
@font-face {
    font-family: "Roboto Slab";
    src: url("Roboto_Slab/RobotoSlab-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  RUBIK
 */
@font-face {
    font-family: "Rubik";
    src: url("Rubik/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  SORA
 */
@font-face {
    font-family: "Sora";
    src: url("Sora/Sora-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/**
 *  SOURCE SANS PRO
 */
@font-face {
    font-family: "Source Sans Pro";
    src: url("Source_Sans_Pro/SourceSansPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


/*SELECT STYLE*/
#fontFamilyHeader option {
    padding-top: 10px;
    padding-bottom: 10px;
}

#fontFamilyHeader option[value="Helvetica"],
#fontFamilyContent option[value="Helvetica"] {
    font-family: Helvetica;
}

#fontFamilyHeader option[value="Lato"],
#fontFamilyContent option[value="Lato"] {
    font-family: Lato;
}

#fontFamilyHeader option[value="Merriweather"],
#fontFamilyContent option[value="Merriweather"] {
    font-family: Merriweather;
}

#fontFamilyHeader option[value="Montserrat"],
#fontFamilyContent option[value="Montserrat"] {
    font-family: Montserrat;
}

#fontFamilyHeader option[value="Montserrat Light"],
#fontFamilyContent option[value="Montserrat Light"] {
    font-family: Montserrat Light;
}

#fontFamilyHeader option[value="Noto Sans"],
#fontFamilyContent option[value="Noto Sans"] {
    font-family: Noto Sans;
}

#fontFamilyHeader option[value="Noto Serif"],
#fontFamilyContent option[value="Noto Serif"] {
    font-family: Noto Serif;
}

#fontFamilyHeader option[value="Open Sans"],
#fontFamilyContent option[value="Open Sans"] {
    font-family: Open Sans;
}

#fontFamilyHeader option[value="Roboto"],
#fontFamilyContent option[value="Roboto"] {
    font-family: Roboto;
}

#fontFamilyHeader option[value="Roboto Slab"],
#fontFamilyContent option[value="Roboto Slab"] {
    font-family: Roboto Slab;
}

#fontFamilyHeader option[value="Rubik"],
#fontFamilyContent option[value="Rubik"] {
    font-family: Rubik;
}

#fontFamilyHeader option[value="Sora"],
#fontFamilyContent option[value="Sora"] {
    font-family: Sora;
}

#fontFamilyHeader option[value="Source Sans Pro"],
#fontFamilyContent option[value="Source Sans Pro"] {
    font-family: Source Sans Pro;
}